
.headerComponent {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap: 24px;
    margin: 40px 0px;
}

.user-image {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: 1px solid #E5E5E5;
}

.user-info {
    margin-top: 12px;
}

p {
    margin-top: 24px;
}
